/* #region generic */

@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: local("Material Icons"), local("MaterialIcons-Regular"),
    url(lib/materialdesign-icons/font/MaterialIcons-Regular.ttf)
      format("truetype");
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: "liga";
}

*,
*::before,
*::after {
  box-sizing: border-box;

  margin: 0;
  outline: 0;
  border: 0;
  padding: 0;

  --primary-color: #000;
  --them-color: #88f;
  --background-color: #fff;
  --background-them-color: #ccf;

  --header-height: 2em; /* XXX */
  --footer-height: 2em; /* XXX */

  background: none;
  background-color: transparent;
  background-repeat: no-repeat;
  /* background-repeat-x: no-repeat; */
  /* background-repeat-y: no-repeat; */
  background-position: 0;
  background-position-x: 0;
  background-position-y: 0;
  background-size: cover;

  --menu-min-width: calc(4 * var(--header-height));
}

html {
  font-family: Helvetica, Arial, sans-serif;

  font-size: 62.5%;
}

body {
  width: 100%;
  min-height: 100%;

  direction: ltr;
  line-height: 1.34;
  unicode-bidi: embed;

  font-size: 2rem;

  background-color: var(--background-them-color);
}

img {
  display: inline-block;

  /* max-width: 100%; */
  /* height: auto; */
}

input[type="text"] {
  background-color: #fff;
  border-radius: calc(1.5em / 2);
  border-color: var(--primary-color);
  height: 1.5em;
  padding: 0.5em;
}

div.menu {
  display: flex;

  background-color: var(--them-color);

  min-width: var(--menu-min-width);
}

div.menu > * {
  padding: 0 1em;
  width: 100%;
}

div.menu-opener {
  position: relative;
}

div.menu-opener div.menu {
  display: none;
  position: absolute;

  top: var(--header-height);
  right: 0;

  width: auto;
  height: auto;

  flex-direction: column;
}

div.menu-opener:hover div.menu {
  display: flex;
}

@-ms-keyframes grow-left {
  0% {
    width: 0;
  }
  100% {
  }
}

@-moz-keyframes grow-left {
  0% {
    width: 0;
  }

  100% {
  }
}

@-webkit-keyframes grow-left {
  0% {
    width: 0;
  }

  100% {
  }
}

@keyframes grow-left {
  0% {
    width: 0;
  }

  100% {
  }
}

/* #endregion generic */

/* #region header */

header {
  display: flex;

  width: 100%;
  min-width: min-content;
  height: var(--header-height);

  position: sticky;

  top: 0;

  overflow: hidden;

  color: var(--primary-color);
  background-color: var(--them-color);

  flex-direction: row;
  flex-wrap: nowrap;
  flex-basis: auto;

  /* order: a; */

  justify-content: start;

  align-content: flex-start;
  align-items: center;
}

header * {
  height: var(--header-height);
}

nav {
  display: flex;

  /* overflow: hidden; */

  width: 100%;

  flex-direction: row;
  flex-wrap: nowrap;
  flex-basis: auto;

  justify-content: flex-end;

  align-content: flex-end;
  align-items: center;

  /* justify-self: stretch; */ /* TODO */
}

header div,
header form {
  display: flex;

  flex-direction: row;
  flex-wrap: nowrap;
  flex-basis: auto;

  justify-content: flex-start;

  align-content: flex-start;
  align-items: center;
}

form.search {
  display: flex;

  flex-direction: row;

  flex-grow: 1;
}

form.search input[type="submit"] {
  background-image: url(../icons/search/svg/search-black-48dp.svg);
}

form.search input[type="submit"]:hover {
  cursor: pointer;
}

form.search input[type="text"] {
  /* TODO */
  flex-grow: 1;
}

header a,
header a:link,
header a:visited,
header input[type="submit"],
header input[type="submit"]:link,
header input[type="submit"]:visited {
  text-decoration: none;

  color: var(--primary-color);
}

header a:hover,
header a:focus,
header input[type="submit"]:hover,
header input[type="submit"]:focus {
  background-color: rgba(0, 0, 0, 0.25);
}

header a:active,
header input[type="submit"]:active {
  background-color: rgba(0, 0, 0, 0.5);
}

header a.active,
header input[type="submit"]:active {
  background-color: rgba(0, 0, 0, 0.75);
}

header a,
header input[type="submit"] {
  display: inline-block;

  width: var(--header-height);
}

header img,
header img,
header input[type="submit"] {
  display: inline-block;

  width: var(--header-height);
}

header img:link,
header img:visited {
}
header img:focus,
header img:hover,
header img:active {
  /* background-color: var(--primary-background-color); */
}

header > nav > form.search > input[type="submit"] {
  /* TODO: change the nav width... */
  /* TODO: make the text input in the main to textarea and resize them */
}

.slogan {
  width: auto;
  /* height: auto; */
}

h1 {
  display: inline-block;

  /* margin: 0; */
  /* height: 2em; */

  font-size: 1em;
  /* line-height: normal; */

  padding: 0.25em;
}

div.logo {
  /* TODO */
}

/* #endregion header */

/* #region main */
main {
  display: block;

  position: static;

  margin: auto;
  padding: 1em;

  width: 60%;
  min-height: calc(100vh - var(--header-height) - var(--footer-height));

  color: var(--primary-color);
  background-color: var(--background-color);
}

/* #endregion main */

/* #region footer */
footer {
  /* display: block; */
  display: flex;

  position: static;

  width: 100%;
  min-height: var(--footer-height);
  height: auto;

  color: var(--primary-color);
  background-color: var(--them-color);

  /* margin: auto; */

  /* text-align: center; */
  flex-direction: row;
  flex-wrap: nowrap;
  flex-basis: auto;
  /* flex-grow: 1; */

  justify-content: space-between;

  align-content: center;
  align-items: center;

  /* text-align: center; */
}

footer * {
  /* flex-grow: 1; */
  text-align: center;
  padding: 0 1em;
}

/* #endregion footer */
