/* #region main */

@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: local("Material Icons"), local("MaterialIcons-Regular"),
    url(lib/materialdesign-icons/font/MaterialIcons-Regular.ttf)
      format("truetype");
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: "liga";
}

*,
*::before,
*::after {
  box-sizing: border-box;

  margin: 0;
  outline: 0;
  border: 0;
  padding: 0;

  --primary-color: #000;
  --them-color: #88f;
  --background-color: #fff;
  --background-them-color: #ccf;


  --header-height: 2em; /* XXX */
  --footer-height: 2em; /* XXX */

  background: none;
  background-color: transparent;
  background-repeat: no-repeat;
  /* background-repeat-x: no-repeat; */
  /* background-repeat-y: no-repeat; */
  background-position: 0;
  background-position-x: 0;
  background-position-y: 0;
  background-size: cover;

  --menu-min-width: calc(4 * var(--header-height));
}

html {
  font-family: Helvetica, Arial, sans-serif;

  font-size: 62.5%;
}

body {
  width: 100%;
  min-height: 100%;

  direction: ltr;
  line-height: 1.34;
  unicode-bidi: embed;

  font-size: 2rem;

  background-color: var(--background-them-color);
}

/* #region scrollbar */

/* width */
::-webkit-scrollbar {
  width: 1em;
}

/* Track */
::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 5px grey; */
  /* border-radius: 10px; */
  /* display: block;
  position: absolute; */
  /* background-color: rgba(var(--them-color), 0.25); */
  /* color: rgba(var(--them-color), 0.25); */
}

/* Handle */
::-webkit-scrollbar-thumb {
  /* color: var(--them-color); */
  background: var(--background-color);
  border-radius: 0.5em;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--primary-color);
}

/* * {
  scrollbar-width: auto;
  scrollbar-color: var(--secondary-color);
} */

/* #endregion scrollbar */

header {
  /* display: block; */
  display: flex;

  position: sticky;

  width: 100%;
  height: var(--header-height);

  top: 0;

  color: var(--primary-color);
  background-color: var(--them-color);

  flex-direction: row;
  flex-wrap: nowrap;
  flex-basis: auto;

  justify-content: start;

  align-content: flex-start;
  align-items: center;
}

main {
  display: block;

  position: static;

  margin: auto;

  width: 60%;
  min-height: calc(100vh - var(--header-height) - var(--footer-height));

  color: var(--primary-color);
  background-color: var(--background-color);
}

footer {
  /* display: block; */
  display: flex;

  position: static;

  width: 100%;
  min-height: var(--footer-height);
  height: auto;

  color: var(--primary-color);
  background-color: var(--them-color);

  /* margin: auto; */

  /* text-align: center; */
  flex-direction: row;
  flex-wrap: nowrap;
  flex-basis: auto;
  /* flex-grow: 1; */

  justify-content: space-between;

  align-content: center;
  align-items: center;

  /* text-align: center; */
}

footer * {
  /* flex-grow: 1; */
  text-align: center;
  padding: 0 1em;
}

img {
  display: inline-block;

  /* max-width: 100%; */
  /* height: auto; */
}

header * {
  height: var(--header-height);
}

nav {
  display: flex;

  /* overflow: hidden; */

  width: 100%;

  flex-direction: row;
  flex-wrap: nowrap;
  flex-basis: auto;

  justify-content: flex-end;

  align-content: flex-end;
  align-items: center;

  /* justify-self: stretch; */ /* TODO */
}

header div,
header form {
  display: flex;

  flex-direction: row;
  flex-wrap: nowrap;
  flex-basis: auto;

  justify-content: flex-start;

  align-content: flex-start;
  align-items: center;
}

form.search input[type="submit"] {
  background-image: url(../icons/search/svg/search-black-48dp.svg);
}

header a,
header a:link,
header a:visited,
header input[type="submit"],
header input[type="submit"]:link,
header input[type="submit"]:visited {
  text-decoration: none;

  color: var(--primary-color);
}

header a:hover,
header a:focus,
header input[type="submit"]:hover,
header input[type="submit"]:focus {
  background-color: rgba(0, 0, 0, 0.25);
}

header a:active,
header input[type="submit"]:active {
  background-color: rgba(0, 0, 0, 0.5);
}

header a.active,
header input[type="submit"]:active {
  background-color: rgba(0, 0, 0, 0.75);
}

header a,
header input[type="submit"] {
  display: inline-block;

  width: var(--header-height);
}

header img,
header img,
header input[type="submit"] {
  display: inline-block;

  width: var(--header-height);
}

header img:link,
header img:visited {
}
header img:focus,
header img:hover,
header img:active {
  /* background-color: var(--primary-background-color); */
}

input[type="text"] {
  background-color: #fff;
  border-radius: calc(var(--header-height) / 2);
  height: var(--header-height);
  padding: 1em;
}

/* header nav div input[type="text"] { */
/* width: 400px; */
/* flex-grow: 1; */
/* } */

div.menu {
  display: flex;

  min-width: var(--menu-min-width);
}

div.menu > * {
  padding: 0 1em;
  width: 100%;
}

div.menu-opener {
  position: relative;
}

div.menu-opener div.menu {
  display: none;
  position: absolute;

  top: var(--header-height);
  right: 0;

  flex-direction: column;
}

div.menu-opener:hover div.menu {
  display: flex;
}

/* #endregion main */
