
/* #region profilepic */

.profilepic {
  border-radius: 1em;
}

/* #endregion profilepic */

/* #region name */

.name {
  margin: 1em 0;
  padding: 1em;
  /* border: solid 5px blue; */
  width: 100%;
  border-radius: 1em;
  background-color: var(--them-color);
}

.name:hover {
  /* background-color: cornflowerblue; */
}

/* #endregion name */

/* #region discription */

.discription {
  margin: 1em 0;
  padding: 1em;
  /* border: solid 5px blue; */
  width: 100%;
  overflow: visible;

  border-radius: 1em;
  background-color: var(--them-color);
}

.discription:hover {
  /* background-color: cornflowerblue; */
}

/* #endregion discription */

/* #region post */

.post {
  /* margin: 1em 4em; */
  padding: 1em;
  /* border: solid 1px rgb(78, 78, 235); */
  width: 100%;
  border-radius: 30px;

  background-color: var(--them-color);
}

/* #endregion post */

/* #region portfolio */

table {
  width: 100%;
  background-color: var(--background-them-color);
}

table caption {
  padding: 0.5em 1em;
}

table,
th,
td {
  /* min-width: max-content; */
  border-collapse: collapse;
  border-color: var(--them-color);
  border-style: solid;
  border-width: 5px;
  text-align: left;
}

td,
th {
  padding: 0.5em 1em;
}

tr + tr:hover {
  background-color: cornflowerblue;
}

table .logo {
  width: 10%;
}

table img {
  width: 100%;
}

/* #endregion portfolio */
